 /* Nav bar */
.mobilenurse-navbar-brand{
	font-family: 'Gruppo', cursive; 
    font-weight: bold;	
} 

.mobilenurse-navbar{
    font-family: 'Gruppo', cursive; 
	font-weight: bold;	
    background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
    font-weight: 600;
    color: black;
}

.mobilenurse-navbar:hover{
    background-color: white;
}   

.mobilenurse-brand {
    color: black;
}

.navbar-toggle .icon-bar {
    background-color: black
    
  }

 .nav>li>a:focus, 
 .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}



form a {
    margin-left: 10px;
}


/* LANDING JUMBOTRON
.container-fluid {
    padding-top: 5px;
    padding-bottom: 25px;
} */

.display-header {
    font-size: 45px;
}

.jumbotron {
    text-align: center;
    /* font-family: 'Gruppo', cursive; 
	font-weight: bold; */
}

.mobilenurse-header{
	font-family: 'Gruppo', cursive; 
	font-weight: bold;	
	font-size: 60px;
}

/* text{
	font-family: 'Gruppo', cursive; 
} */
/*LANDING JUMBOTRON END*/

/*SERVICES*/
.services {
	font-family: 'Gruppo', cursive; 
}

.services-header{
	font-family: 'Gruppo', cursive; 

}

#bootstrap-btn-overrides {
    background-color: #000; /* Green */
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 300px;
}

/*SIGNIN FORM */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

h1{
	font-size: 40px;
	font-family: 'Gruppo', cursive;
}

h3{
	font-size: 18px;
}

.form-signin .form-signin-heading, .form-signin .checkbox 
{
    margin-bottom: 10px;
	font-family: 'Gruppo', cursive;
	font-weight: bold;
	text-align: center;
}
.form-signin .checkbox
{
    font-weight: normal;

}
.form-signin .form-control
{
	font-family: 'Gruppo', cursive;
    position: relative;
    font-size: 18px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*END SIGNIN FORM */